server:
  port: 8084

spring:
  application:
    name: service-activation
    
  datasource:
    url: jdbc:postgresql://localhost:5432/service_db
    username: postgres
    password: "Yasuri@123"
    driver-class-name: org.postgresql.Driver
    
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    
  kafka:
    bootstrap-servers: localhost:9092

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true